<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-decisao-heading" data-cy="DecisaoCreateUpdateHeading" jhiTranslate="reuniaoappApp.reuniaoDecisao.home.createOrEditLabel">
        Create or edit a Decisao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div [hidden]="editForm.get('id')!.value == null">
          <button
            type="button"
            id="voto-sim"
            [routerLink]="['/voto-sim-decisao/reuniao/', reuniao?.id, 'decisao', decisao?.id]"
            class="btn btn-primary"
          >
            <span jhiTranslate="reuniaoappApp.reuniaoReuniao.votoSim">Votos Sim</span>
          </button>
          <button
            type="button"
            id="voto-nao"
            [routerLink]="['/voto-nao-decisao/reuniao/', reuniao?.id, 'decisao', decisao?.id]"
            class="btn btn-primary"
          >
            <span jhiTranslate="reuniaoappApp.reuniaoReuniao.votoNao">Votos Não</span>
          </button>
        </div>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reuniaoappApp.reuniaoDecisao.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nome')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="reuniaoappApp.reuniaoDecisao.obs" for="field_obs">Obs</label>
          <input type="text" class="form-control" name="obs" id="field_obs" data-cy="obs" formControlName="obs" />
          <div *ngIf="editForm.get('obs')!.invalid && (editForm.get('obs')!.dirty || editForm.get('obs')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('obs')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          [routerLink]="['/decisao/reuniao/', reuniao?.id]"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
