<div>
  <h2 id="page-heading" data-cy="PautaHeading">
    <span jhiTranslate="reuniaoappApp.reuniaoPauta.home.title">Pautas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" [routerLink]="['/reuniao/', reuniao?.id, 'edit']" [disabled]="isLoading">
        <fa-icon icon="arrow-left"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pauta"
        [routerLink]="['/pauta/new/reuniao/', reuniao?.id]"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pautas?.length === 0">
    <span jhiTranslate="reuniaoappApp.reuniaoPauta.home.notFound">No pautas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pautas && pautas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="reuniaoappApp.reuniaoPauta.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="obs">
            <span jhiTranslate="reuniaoappApp.reuniaoPauta.obs">Obs</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pauta of pautas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pauta', pauta.id, 'view']">{{ pauta.id }}</a>
          </td>
          <td>{{ pauta.nome }}</td>
          <td>{{ pauta.obs }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pauta', pauta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(pauta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pautas && pautas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
