<div>
  <h2 id="page-heading" data-cy="PautaHeading">
    <span jhiTranslate="hunterappApp.reuniaoPauta.home.title">Pautas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hunterappApp.reuniaoPauta.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pauta"
        [routerLink]="['/pauta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hunterappApp.reuniaoPauta.home.createLabel"> Criar novo Pauta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pautas?.length === 0">
    <span jhiTranslate="hunterappApp.reuniaoPauta.home.notFound">Nenhum Pauta encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pautas && pautas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nome">
            <div class="d-flex">
              <span jhiTranslate="hunterappApp.reuniaoPauta.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="obs">
            <div class="d-flex">
              <span jhiTranslate="hunterappApp.reuniaoPauta.obs">Obs</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reuniao.id">
            <div class="d-flex">
              <span jhiTranslate="hunterappApp.reuniaoPauta.reuniao">Reuniao</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pauta of pautas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pauta', pauta.id, 'view']">{{ pauta.id }}</a>
          </td>
          <td>{{ pauta.nome }}</td>
          <td>{{ pauta.obs }}</td>
          <td>
            <div *ngIf="pauta.reuniao">
              <a [routerLink]="['/reuniao', pauta.reuniao.id, 'view']">{{ pauta.reuniao.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pauta', pauta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button type="submit" [routerLink]="['/pauta', pauta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(pauta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
