<div>
  <h2 id="page-heading" data-cy="VotoNaoDecisaoHeading">
    <span jhiTranslate="reuniaoappApp.reuniaoVotoNaoDecisao.home.title">Voto Nao Decisaos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" [routerLink]="['/decisao/', decisao?.id, 'edit', 'reuniao', reuniao?.id]" [disabled]="isLoading">
        <fa-icon icon="arrow-left"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-voto-nao-decisao"
        [routerLink]="['/voto-nao-decisao/new/reuniao', reuniao?.id, 'decisao', decisao?.id]"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="votoNaoDecisaos?.length === 0">
    <span jhiTranslate="reuniaoappApp.reuniaoVotoNaoDecisao.home.notFound">No votoNaoDecisaos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="votoNaoDecisaos && votoNaoDecisaos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="reuniaoappApp.reuniaoVotoNaoDecisao.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="obs">
            <span jhiTranslate="reuniaoappApp.reuniaoVotoNaoDecisao.obs">Obs</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let votoNaoDecisao of votoNaoDecisaos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/voto-nao-decisao', votoNaoDecisao.id, 'view']">{{ votoNaoDecisao.id }}</a>
          </td>
          <td>{{ votoNaoDecisao.nome }}</td>
          <td>{{ votoNaoDecisao.obs }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/voto-nao-decisao', votoNaoDecisao.id, 'edit', 'reuniao', reuniao?.id, 'decisao', decisao?.id]"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" (click)="delete(votoNaoDecisao)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="votoNaoDecisaos && votoNaoDecisaos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
