<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pauta">
      <h2 data-cy="pautaDetailsHeading"><span jhiTranslate="reuniaoappApp.reuniaoPauta.detail.title">Pauta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pauta.id }}</span>
        </dd>
        <dt><span jhiTranslate="reuniaoappApp.reuniaoPauta.nome">Nome</span></dt>
        <dd>
          <span>{{ pauta.nome }}</span>
        </dd>
        <dt><span jhiTranslate="reuniaoappApp.reuniaoPauta.obs">Obs</span></dt>
        <dd>
          <span>{{ pauta.obs }}</span>
        </dd>
        <dt><span jhiTranslate="reuniaoappApp.reuniaoPauta.reuniao">Reuniao</span></dt>
        <dd>
          <div *ngIf="pauta.reuniao">
            <a [routerLink]="['/reuniao', pauta.reuniao?.id, 'view']">{{ pauta.reuniao?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pauta', pauta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
